<div class="nav-left">
    <a routerLink="/" routerLinkActive="active">
        <h1>
            Assist Lawyer
        </h1>
    </a>
</div>
<div class="nav-right">
    <nav>
        <a routerLink="/" routerLinkActive="active" class="nav-options">Home</a>
        <a routerLink="/lawAct" routerLinkActive="active" class="nav-options">Law Act</a>
        <a routerLink="/lawChapter" routerLinkActive="active" class="nav-options">Law Chapter</a>
        <a routerLink="/lawSection" routerLinkActive="active" class="nav-options">Law Section</a>
    </nav>
</div>